.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #2c3e50;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}
